body{
    font-family: Arial, Helvetica, sans-serif;
    /* set background image to fill screen */
    background-image: url(assets/pumpkin-background.jpg);
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    height: 100vh;
}


header{
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
}

div img{
    height: 40px;
    width: 50px;
    padding-left: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 25px;
}

nav ul li{
    padding-left: 10px;
}

a{
    text-decoration: none;
}

/* unvisited link */
a:link{
    color: black;
}
  
/* visited link */
 a:visited {
    color: black;
  }
  
/* mouse over link */
a:hover {
    color: orange;
  }
  
/* selected link */
a:active {
    color: black;
  }

.nav-button {
    background-color: whitesmoke;
    border: solid 2px orange;
    color: orange;
    font-size: 12px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 16px;
  }

  /* white square backdrop that main stuff is on */

  .square.centered {
     display: flex;
     flex-direction: column;
     align-items: center;
     
  }

  .square{
    height: 450px;
    width: 350px;
    background-color: white;

  }
.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

h1 {
    font-weight: 800;
    margin-bottom: 8px;
    
}

h2 {
    font-size: 11px;
    margin-top: 0;
    color: grey;
    
}

.square.centered a{
 color: rgb(255, 94, 0);
}



input {
    width: 22em;
    border: 0;
    border-bottom: 1px solid grey;   
}

input[type='checkbox'] { 
    margin: 0;
    padding: 0;
    width: 10px;
}

form {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    width: 22em;
    height:3em;
    border: none;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

button.grey {
    background-color: rgb(89, 87, 97);
}
    

button.blue {
    background-color: rgba(106, 164, 219, 0.884);

}

button.green {
    background-color: rgb(67, 218, 75);
}

form a {
    padding-left: 240px;
    color: rgb(102, 102, 102);
}




